In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/samio/snap/jupyter/common/lib/python3.7/site-packages (0.25.1)
Requirement already satisfied: numpy>=1.13.3 in /home/samio/snap/jupyter/common/lib/python3.7/site-packages (from pandas) (1.17.2)
Requirement already satisfied: pytz>=2017.2 in /home/samio/snap/jupyter/common/lib/python3.7/site-packages (from pandas) (2019.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /snap/jupyter/6/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /snap/jupyter/6/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

In [2]:
import pandas

In [3]:
df1 = pandas.DataFrame([[1,2,3],[10,20,30]])

In [4]:
df1

    0   1   2
0   1   2   3
1  10  20  30

In [7]:
df1 = pandas.DataFrame([[1,2,3],[10,20,30]],columns=["Price","Age","Value"])

In [8]:
df1

   Price  Age  Value
0      1    2      3
1     10   20     30

In [9]:
df1 = pandas.DataFrame([[1,2,3],[10,20,30]],columns=["Price","Age","Value"],index=["First","Second"])

In [10]:
df1

        Price  Age  Value
First       1    2      3
Second     10   20     30

In [11]:
df2 = pandas.DataFrame([{"Name":"John"},{"Name":"Jack"}])
df2

   Name
0  John
1  Jack

In [12]:
df2 = pandas.DataFrame([{"Name":"John","Surname":"Wick"},{"Name":"Jack"}])
df2

   Name Surname
0  John    Wick
1  Jack     NaN

In [ ]:
df2 = pandas.DataFrame([{"Name":"John","Surname":"Wick"},{"Name":"Jack","Surname":""}])
df2