In [1]:
import os
os.listdir()

['Pandas_02_LoadingCSVFiles.ipynb',
 'supermarkets.csv',
 'Pandas_01_IntroToPandas_DataFrame.ipynb',
 'supermarkets.xlsx',
 '.ipynb_checkpoints',
 'supermarkets-semi-colons.txt',
 '.~lock.supermarkets.xlsx#',
 'Pandas_01_IntroToPandas_DataFrame.html',
 'supermarkets-commas.txt',
 'supermarkets.json']

In [2]:
import pandas

In [3]:
df1=pandas.read_csv("supermarkets.csv")

In [4]:
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
df2=pandas.read_json("supermarkets.json")

In [6]:
df2

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [12]:
df3=pandas.read_excel("supermarkets.xlsx",sheet_name=0)
#sheet_name=0 for first sheet
#sheet_name=1 for second sheet

In [13]:
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [16]:
df4=pandas.read_csv("supermarkets_commas.txt")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [17]:
df5=pandas.read_csv("supermarkets_semi-colons.txt")
df5

        ID;Address;City;State;Country;Name;Employees
0  1;3666 21st St;San Francisco;CA 94114;USA;Made...
1  2;735 Dolores St;San Francisco;CA 94119;USA;Br...
2  3;332 Hill St;San Francisco;California 94114;U...
3  4;3995 23rd St;San Francisco;CA 94114;USA;Ben'...
4  5;1056 Sanchez St;San Francisco;California;USA...
5  6;551 Alvarado St;San Francisco;CA 94114;USA;R...

In [18]:
df5=pandas.read_csv("supermarkets_semi-colons.txt",separator=";")
df5

TypeError: parser_f() got an unexpected keyword argument 'separator'

In [19]:
pandas.read_csv?

In [20]:
df5=pandas.read_csv("supermarkets_semi-colons.txt",sep=";")
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [21]:
os.listdir()

['Pandas_02_LoadingCSVFiles.ipynb',
 'supermarkets_commas_noheading.txt',
 'supermarkets.csv',
 'Pandas_01_IntroToPandas_DataFrame.ipynb',
 'supermarkets.xlsx',
 '.ipynb_checkpoints',
 'supermarkets_commas.txt',
 '.~lock.supermarkets.xlsx#',
 'Pandas_01_IntroToPandas_DataFrame.html',
 'supermarkets.json',
 'supermarkets_semi-colons.txt']

In [22]:
df6=pandas.read_csv("supermarkets_commas_noheading.txt")
df6

   1     3666 21st St  San Francisco          CA 94114  USA      Madeira   8
0  2   735 Dolores St  San Francisco          CA 94119  USA  Bready Shop  15
1  3      332 Hill St  San Francisco  California 94114  USA  Super River  25
2  4     3995 23rd St  San Francisco          CA 94114  USA   Ben's Shop  10
3  5  1056 Sanchez St  San Francisco        California  USA      Sanchez  12
4  6  551 Alvarado St  San Francisco          CA 94114  USA   Richvalley  20

In [60]:
df6=pandas.read_csv("supermarkets_commas_noheading.txt", header=None)
df6

   0                1              2                 3    4            5   6
0  1     3666 21st St  San Francisco          CA 94114  USA      Madeira   8
1  2   735 Dolores St  San Francisco          CA 94119  USA  Bready Shop  15
2  3      332 Hill St  San Francisco  California 94114  USA  Super River  25
3  4     3995 23rd St  San Francisco          CA 94114  USA   Ben's Shop  10
4  5  1056 Sanchez St  San Francisco        California  USA      Sanchez  12
5  6  551 Alvarado St  San Francisco          CA 94114  USA   Richvalley  20

In [61]:
df6.columns = ["ID", "Address", "City", "Zip", "Country", "Name", "Employees"]
df6

,ID,Address,City,Zip,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [62]:
df6.set_index("ID")

,Address,City,Zip,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [59]:
df6

,Address,City,Zip,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [63]:
df7=df6.set_index("ID")

In [64]:
df7

,Address,City,Zip,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [65]:
#df6=df6.set_index("ID")

In [66]:
df6.set_index("ID", inplace=True)

In [47]:
df6

,Address,City,Zip,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [67]:
df6.set_index("Address", inplace=True)

In [49]:
df6

,City,Zip,Country,Name,Employees
Address,,,,,
3666 21st St,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,San Francisco,California 94114,USA,Super River,25
3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,San Francisco,California,USA,Sanchez,12
551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [68]:
df6.set_index("Name", inplace=True, drop=False)
df6

                      City               Zip Country         Name  Employees
Name
 Madeira     San Francisco          CA 94114     USA      Madeira          8
Bready Shop  San Francisco          CA 94119     USA  Bready Shop         15
Super River  San Francisco  California 94114     USA  Super River         25
Ben's Shop   San Francisco          CA 94114     USA   Ben's Shop         10
Sanchez      San Francisco        California     USA      Sanchez         12
Richvalley   San Francisco          CA 94114     USA   Richvalley         20

In [69]:
#Address was dropped when it was set as index

In [70]:
#Name was not dropped and retained as a column

In [71]:
df6

                      City               Zip Country         Name  Employees
Name
 Madeira     San Francisco          CA 94114     USA      Madeira          8
Bready Shop  San Francisco          CA 94119     USA  Bready Shop         15
Super River  San Francisco  California 94114     USA  Super River         25
Ben's Shop   San Francisco          CA 94114     USA   Ben's Shop         10
Sanchez      San Francisco        California     USA      Sanchez         12
Richvalley   San Francisco          CA 94114     USA   Richvalley         20

In [72]:
df7

,Address,City,Zip,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [73]:
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [89]:
df7=pandas.read_json("http://pythonhow.com/supermarkets.json")
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [90]:
df7=df7.set_index("Address")
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [91]:
df7.loc["735 Dolores St":"332 Hill St","Country":"ID"]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3

In [92]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [93]:
df7.loc["332 Hill St", "Country"]

'USA'

In [100]:
df7.loc[:,"Country"]

Address
3666 21st St       USA
735 Dolores St     USA
332 Hill St        USA
3995 23rd St       USA
1056 Sanchez St    USA
551 Alvarado St    USA
Name: Country, dtype: object

In [101]:
list(df7.loc[:,"Country"])

['USA', 'USA', 'USA', 'USA', 'USA', 'USA']

In [102]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [103]:
df7.iloc[1:3,1:3]

               Country  Employees
Address
735 Dolores St     USA         15
332 Hill St        USA         25

In [104]:
df7.iloc[1:4,1:4]

               Country  Employees  ID
Address
735 Dolores St     USA         15   2
332 Hill St        USA         25   3
3995 23rd St       USA         10   4

In [105]:
df7.iloc[:,1:3]

                Country  Employees
Address
3666 21st St        USA          8
735 Dolores St      USA         15
332 Hill St         USA         25
3995 23rd St        USA         10
1056 Sanchez St     USA         12
551 Alvarado St     USA         20

In [108]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [109]:
df7.iloc[3,1:4]

Country      USA
Employees     10
ID             4
Name: 3995 23rd St, dtype: object

In [111]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [117]:
df7.drop("City",1)
#0 for index, 1 for column specification

                Country  Employees  ID         Name             State
Address
3666 21st St        USA          8   1      Madeira          CA 94114
735 Dolores St      USA         15   2  Bready Shop          CA 94119
332 Hill St         USA         25   3  Super River  California 94114
3995 23rd St        USA         10   4   Ben's Shop          CA 94114
1056 Sanchez St     USA         12   5      Sanchez        California
551 Alvarado St     USA         20   6   Richvalley          CA 94114

In [118]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [120]:
df7.drop("332 Hill St",0)

                          City Country  Employees  ID         Name       State
Address
3666 21st St     San Francisco     USA          8   1      Madeira    CA 94114
735 Dolores St   San Francisco     USA         15   2  Bready Shop    CA 94119
3995 23rd St     San Francisco     USA         10   4   Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5      Sanchez  California
551 Alvarado St  San Francisco     USA         20   6   Richvalley    CA 94114

In [121]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [122]:
df7=df7.drop("332 Hill St",0)

In [123]:
df7

                          City Country  Employees  ID         Name       State
Address
3666 21st St     San Francisco     USA          8   1      Madeira    CA 94114
735 Dolores St   San Francisco     USA         15   2  Bready Shop    CA 94119
3995 23rd St     San Francisco     USA         10   4   Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5      Sanchez  California
551 Alvarado St  San Francisco     USA         20   6   Richvalley    CA 94114

In [124]:
df7.drop(df7.index[0:3],0)

                          City Country  Employees  ID        Name       State
Address
1056 Sanchez St  San Francisco     USA         12   5     Sanchez  California
551 Alvarado St  San Francisco     USA         20   6  Richvalley    CA 94114

In [125]:
df7

                          City Country  Employees  ID         Name       State
Address
3666 21st St     San Francisco     USA          8   1      Madeira    CA 94114
735 Dolores St   San Francisco     USA         15   2  Bready Shop    CA 94119
3995 23rd St     San Francisco     USA         10   4   Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5      Sanchez  California
551 Alvarado St  San Francisco     USA         20   6   Richvalley    CA 94114

In [126]:
df7.drop(df7.columns[0:2],1)

                 Employees  ID         Name       State
Address
3666 21st St             8   1      Madeira    CA 94114
735 Dolores St          15   2  Bready Shop    CA 94119
3995 23rd St            10   4   Ben's Shop    CA 94114
1056 Sanchez St         12   5      Sanchez  California
551 Alvarado St         20   6   Richvalley    CA 94114

In [127]:
df7.index

Index(['3666 21st St', '735 Dolores St', '3995 23rd St', '1056 Sanchez St',
       '551 Alvarado St'],
      dtype='object', name='Address')

In [128]:
df7.columns

Index(['City', 'Country', 'Employees', 'ID', 'Name', 'State'], dtype='object')